$text-color-primary: #1E1E1E;
$text-color-invert: #FFF;
$text-color-alert: #FF2F2F;
$text-color-link: #3369F3;
$text-color-secondary: #999999;
$button-color-primary: #3369F3;
$input-border-color: #3369F3;
$bg-color-grey: #EFEFEF;
$bg-color-accent: #3369F3;
$bg-color-message-mine: #E4EDFD;
$bg-color-message: #F8F8F8;
$bg-color-accent-hover: #E4EDFD;
$bg-color-primary: #FFF;
$bg-color-secondary: #FBFBFB;
$bg-color-overlay: #0000008A;
$border-color-primary: #EAEAEA;
