$text-color-primary: #1E1E1E;
$text-color-secondary: #999999;
$text-color-invert: #FFFFFF;
$text-color-alert: #FF2F2F;
$text-color-link: #3369F3;

$button-color-primary: #3369F3;

$input-border-color: #3369F3;

$bg-color-grey: #EFEFEF;
$bg-color-primary: #FFFFFF;
$bg-color-secondary: #FBFBFB;

$border_color-primary: #EAEAEA;
