@import './colors';
@import './typography';

html, body {
  @include text-primary;

  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

h1 {
  @include headline-1;

  margin: 0;
}

h2 {
  @include headline-2;

  margin: 0;
}

h3 {
  @include headline-3;

  margin: 0;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $input-border-color;
  padding: 6px 0;

  @include text-primary;

  &:focus {
    outline: none;
  }

  &_error {
    color: $text-color-alert;
  }
}

.chatinput {
  width: 100%;
  border: none;

  @include text-primary;

  padding: 16px;
  border-radius: 8px;
  background-color: $bg-color-secondary;

  &:focus {
    outline: none;
  }

  &_error {
    color: $text-color-alert;
  }

}

.link {
  @include text-link;

  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  @include text-primary;

  background-color: $button-color-primary;
  border: none;
  border-radius: 8px;
  color: $text-color-invert;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.buttonimg {
  border: none;
  background-color: $bg-color-primary;

  &:hover {
    cursor: pointer;
  }
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;

  @include text-primary;

  border: none;
  color: $text-color-link;
  text-align: center;
  background-color: $bg-color-primary;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}
