@import '../../../../../../../../css/colors';

.item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;

  &__icon {
    color: $bg-color-accent;
    margin-right: 8px;
  }

  &:hover {
    background-color: $bg-color-grey;
  }
}
