<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ main_stylesheet }}>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    {{#if page_stylesheet}}
        <link rel="stylesheet" href={{ page_stylesheet }}>
    {{/if}}
</head>
    <body>
        {{> @partial-block }}
    </body>
</html>
